@model Sc2TutsBase.Models.PrehomeViewModel
@{
    ViewBag.Title = "Prehome";
}
<div class='hero-unit'><h1>Bienvenue !</h1>
	<p>Vous trouverez dans ce site plusieurs tutos réalisés par nos casters préférés pour mieux jouer à Starcraft 2. Ils peuvent être classés par ligue, matchup, et par caster.</p>
	<p><a href="@Url.Action("List")" id="bigIntro">Parcourir les tutos</a></p>
	<div id="last3">
		<h2>Derniers tutos ajoutés</h2>
		@Html.Partial("MosaicTutoList", @Model.LastThreeTutoEntries)
	</div>
</div>