@{
	ViewBag.Title = "404";
}
<section>
	<div class="thanks">
		<h1>Uh-oh! Vous avez été un peu trop décomplexé !</h1>
		<div><img src="@Url.Content("~/Content/img/mak0z404.jpg")" alt="Ah ouais ! T'as pas le temps toi !" title="Ah ouais ! T'as pas le temps toi !" /></div>
		<a href="@Url.Action("Index", "Home")" class="e404">Retour au Nexus</a>
	</div>
</section>
